@import url('https://fonts.googleapis.com/css?family=Lobster|PT+Sans&display=swap');

/* text color */
h1, h2, h3, p {
  color: #95483f;
}

h2 {
  font-style: italic;
}

/* This is describing class */
.rectangle {
  width: 100%;
  height: auto;
  padding: 10px;
  text-align: center;
  position: relative;
  font-family: 'PT Sans', sans-serif;
  line-height: 1.5em;
}

p:first-of-type:first-letter {
  font-family: 'Lobster', cursive;
  font-size: 2em;
  font-weight: 400;
}

/* This is describing id */
#light {
  background-color: #f6f1ee;
  opacity: 95%
}

/* information for links */
a {
  background-color: #ebbbaa;
  color: #f6f1ee;
  padding: 8px;
  text-align: center;
}

a:hover {
  font-style: italic;
}

a:active {
  background-color: #f6f1ee;
  color: #fbbc93;
}
