@import url('https://fonts.googleapis.com/css?family=Bowlby+One+SC|Bree+Serif|Inconsolata|Kaushan+Script&display=swap');

body {
  background-color: #FFFEF2;
}

h1 {
  font-family: 'Bowlby One SC', cursive;
  color: #592645;
}

h2 {
  font-family: 'Kaushan Script', cursive;
  color: #E16772;
}
p {
  padding: 1em;
  text-align:left;
  font-family: 'Inconsolata', monospace;
  color: #592645;
}
form {
  padding: 1em;
  width: 50%;
  color: #592645;
  font-family: 'Inconsolata', monospace;
  background-color: #B4DBAD;
}
.box-one {
  padding: 2em 2em .5em 2em;
  text-align: left;
}
.box-two {
  text-align: left;
  margin: 0em 4em;
}
.box-three {

}
#placeholder {
  background-color: #B4DBAD;
  width: 90%;
  margin: 2em;
}
img.logo {
  width: 330px;
  height: 210px;
  float: right;
  padding: 10px;
}

/* color of rgb(180, 219, 173) is FROGY (green) */
a {
  padding: 14px 16px;
  color: rgb(180, 219, 173);
  text-align: center;
  text-decoration: none;
}

/* color of #592645 is getaway (darkest color) */


/* color of #A84D6A is Wine Cream Soft */


p li {
  font-family: 'Inconsolata', monospace;
  padding: 50px;
}

.menu-item {
  margin: auto;
  padding: 0.25em;
  min-width: 75px;
  line-height: 2.5em;
}

/* color of #E16772 is Rasberry Sorbet (brighter color) */
.active {
  background-color: #E16772;
}

header {
    font-family: 'Bree Serif', serif;
    font-size: 16pt;
    margin: 0;
    height: 2.15em;
    text-align: left;
}
